node_modules
.next
.git
.husky
.vscode
.vs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
coverage
.env*.local
.env.test
db/*.sqlite
db/*.sqlite-journal
db/*.sqlite-shm
db/*.sqlite-wal
Dockerfile*
docker-compose*.yml
my-ssh-key*
prisma-generate.log
